<div class="practicing-directives">
  <div class="btn-group">
    <button class="btn btn-primary" type="button" (click)="showDetails()">Display Details</button>
    <p *ngIf="displayDetails" class="button-label">Secret Password = 'tuna'</p>
  </div>

  <ul class="col-md-6">
    <li 
      class="list-item"
      *ngFor="let logItem of logClicks; let i = index;" 
      [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
      [ngClass]="{'white-text': i >= 4 }">
    Click {{logItem}}
  </li>
  </ul>
</div>
