// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

::-webkit-file-upload-button,
.c-pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.m-hidden {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }
}

.m-top-20 {
  margin-top: 20px;
}

.is-error {
  color: red;
  font-size: 12px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched  {
  border: 1px solid red;
}