<h3 class="title-2">The Servers Component</h3>
<div class="col-md-12">
  <div class="form-group col-md-4">
    <label for="" class="input-label">ServerName</label>
    <input 
      type="text" 
      class="form-control"
      [(ngModel)]="serverName"
     />
     <p class="form-value">{{serverName}}</p>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
  </div>
  <p *ngIf="isServerCreated" else #noServer>Server was created! Name is {{serverName}}</p>
  <ng-template #noServer>
    <p>No Server was created</p>
  </ng-template>

  <div class="content">
    <app-server></app-server> 
    <app-server></app-server>
  </div>
  <!-- <warning-alert></warning-alert> -->
  <!-- <success-alert></success-alert> -->
  <hr/>
  <!-- <app-practicing-databinding></app-practicing-databinding> -->
</div>