<h3 class="title-2">The Servers Component</h3>
<div class="col-md-12">
  <div class="form-group">
    <label for="" class="input-label">ServerName</label>
    <input 
      type="text" 
      class="form-control"
      (input)="onUpddateServerName($event)"
     />
     <p>{{serverName}}</p>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
  </div>
  <p>{{serverCreationStatus}}</p>
  <div class="content">
    <app-server></app-server> 
    <app-server></app-server>
  </div>
  <!-- <warning-alert></warning-alert> -->
  <!-- <success-alert></success-alert> -->
</div>