// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//colors
$black: #2b2b2b;
$white: #ffffff;
$blue: #527beb;
$blue-jeans: #51d0f2;
$blue-dark: #2f4682;
$blue-sky: #edeef4;
$blue-light: #f5f6fa;
$blue-grey: #808dae;
$lavender: #d5e4ff;
$blue-grey-dark: #5c657b;
$grey: #a2a2a2;
$grey-dark: #6f6f6f;
$grey-light: #dbdeea;
$grey-light-2: #c9ccd6;
$grey-white: #e0e1e3;
$grey-blue-dark: #c8cad2;
$grey-disabled: #a9a9a9;
$red: #d85656;
$grey-mid-dark: #6d6969;
$green: #00fa9a;
$green-dark: #008000;
$green-light: #9acd32;
$green-grey: #65cdaa;
$yellow: #fff3cd;

//fonts
$font-family: "Roboto", sans-serif;
$font-size: 14px;

// breakpoints
$breakpoint-xs-min: 320px;
$breakpoint-sm-min: 768px;
$breakpoint-md-min: 980px;
$breakpoint-md: 1024px;
$breakpoint-rg-min: 1200px;
$breakpoint-rg: 1366px;
$breakpoint-lg-min: 1562px;
$breakpoint-xl-min: 1680px;

$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-rg-min - 1px;
$breakpoint-rg-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: 1920px;

//widths
$containerWidth: 1920px;

// Animation
$transitionSpeed: 0.3s !default;
