.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000075;
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30vw;
  left: 20vw;
  width: 50vw;
  padding: 16px;
  z-index: 100;
  background: #fff;
  box-shadow: 0 2px 8px #00000026;
}

.alert-box-actions {
  text-align: right;
}